@import "../../../style/base.scss";

.feed-match {

  .match {
    .arrows {
      display: flex;
      flex-direction: row;

      span {
        margin: 204px 36px;
        flex: 1;
      }

      span[class*="right"] {
        text-align: right;
      }

      span[class*="left"] {
        text-align: left;
      }

      span:hover {
        cursor: pointer;
      }

      span::before {
        font-size: 72px;
      }
    }
  }

  #sitter-profile {

    td {
      padding-top: 28px;
    }

    .motto {
      font-family: $raleway;
      font-size: 32px;
    }

    .mutual-friends {
      float: right;
      position: relative;
      left: -50%;
      text-align: left;
      display: block;
      border: none;

      ul {
        margin: 0 auto;
        padding: 0;
        position: relative;
        left: 50%;
        display: block;

        $index: 0;
        @if $index >= 3 {
          li {
            display: none;
          }
        }

        li {
          float: left;
          margin-left: 8px;
          img {
            width: 64px;
            height: 64px;
          }
        }

        li:first-child {
          margin-left: 0;
        }
      }

    }
  }

}


