notification-list .notification-item {
  background: #f8f8f8;
  margin-bottom: 4px;
  padding: 12px 24px;
  display: flex;
  flex-direction: row; }
  notification-list .notification-item img {
    width: 48px;
    height: 48px;
    margin-right: 12px; }
  notification-list .notification-item .notification-info, notification-list .notification-item .notification-status {
    flex: 1; }
  notification-list .notification-item .notification-info {
    display: flex;
    flex-direction: row; }
  notification-list .notification-item .notification-status {
    text-align: right; }
