@import "../../style/colors.scss";
@import "../../style/fonts.scss";

#edit-review {

  .modal-dialog {
    width: 720px;
  }

  .modal-title {
    color: $brand;
    text-align: left;
  }

  .submit-review {
    display: block;
    border-radius: 40px;
    background: $white;
    color: $brand;
    border-color: $brand;
    margin: 48px auto;
    padding: 8px 15px;
  }

  .submit-review:hover {
    background: $brand;
    color: $white;
  }

  .submit-review:active {
    outline: 0;
    box-shadow: none;
    border-color: $brand;
  }
}

.review-modal {

  .sitter-info {

    h4 {
      text-align: center;
      font-family: $raleway;
      font-size: 36px;
      margin-bottom: 28px;
    }

    .sitter-image {
      width: 187px;
      height: 187px;
      margin: 0 auto;
      display: block;
    }
  }

  form {
    width: 90%;
    margin: 0 auto;
  }

  .control-label, .pink {
    display: flex;
  }

  .control-label {
    color: $text;
    font-family: $openSans;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.pink {
  color: $brand;
  margin-bottom: 16px;
  font-size: 24px;
}