.review-modal{

  .control-label, .pink{
    display:flex;
  }
  .submit-review {
    display: block;
    border-radius: 40px;
    background: #fff;
    color: #f86966;
    border-color: #f86966;
    margin: 48px auto;
    padding: 8px 15px;
  }

  .submit-review:hover {
    background: #f86966;
    color: #fff;
  }

  .submit-review:active {
    outline: 0;
    box-shadow: none;
    border-color: #f86966;
  }
}


.pink{
  color: #f86966;
}
