@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
#invite-modal .modal-container {
  position: relative;
  width: 100%; }

#invite-modal .modal-container .modal, #invite-modal .modal-container .modal-backdrop {
  position: absolute; }

#invite-modal .modal-dialog {
  width: 720px; }

#invite-modal .modal-title {
  color: #f86966;
  text-align: left; }

#invite-modal .sitter-image {
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

#invite-modal h4.sitter-name {
  text-align: center; }

#invite-modal .modal-body .rc-time-picker {
  display: block; }

#invite-modal .modal-body {
  width: 80%;
  margin: 0 auto;
  padding: 0; }
  #invite-modal .modal-body #invite label {
    color: #f86966;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin: 16px 0 8px 0; }
  #invite-modal .modal-body #invite .invite-time {
    display: flex;
    flex-direction: row; }
  #invite-modal .modal-body #invite .radio-option label {
    margin: 8px 0 0 0;
    color: #757575; }
  #invite-modal .modal-body #invite .radio-group {
    margin-top: 0; }
  #invite-modal .modal-body #invite .rc-time-picker {
    margin-right: 8px; }
  #invite-modal .modal-body .submit-invite {
    display: block;
    border-radius: 40px;
    background: #fff;
    color: #f86966;
    border-color: #f86966;
    margin: 48px auto;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
    text-transform: uppercase;
    letter-spacing: 1px; }
  #invite-modal .modal-body .submit-invite:hover {
    background: #f86966;
    color: #fff; }
  #invite-modal .modal-body .submit-invite:active {
    outline: 0;
    box-shadow: none;
    border-color: #f86966; }
