.feed-match #sitter-profile td {
  padding-top: 28px; }

.feed-match #sitter-profile .motto {
  font-family: 'Raleway', sans-serif;
  font-size: 24px; }

.feed-match #sitter-profile .personality {
  font-size: 18px; }
  .feed-match #sitter-profile .personality ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 216px;
    margin-left: auto;
    margin-right: auto; }
  .feed-match #sitter-profile .personality ul li {
    width: 120px; }
  .feed-match #sitter-profile .personality ul li:last-child {
    margin-left: .8em; }
  .feed-match #sitter-profile .personality .label-dark, .feed-match #sitter-profile .personality .label-regular, .feed-match #sitter-profile .personality .label-light {
    background: #f86966; }
  .feed-match #sitter-profile .personality .label-regular {
    opacity: 0.75; }
  .feed-match #sitter-profile .personality .label-light {
    opacity: 0.5; }

.feed-match #sitter-profile .mutual-friends {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
  display: block;
  border: none; }
  .feed-match #sitter-profile .mutual-friends ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 50%;
    display: block; }
    .feed-match #sitter-profile .mutual-friends ul li {
      float: left;
      margin-left: 8px; }
      .feed-match #sitter-profile .mutual-friends ul li img {
        width: 64px;
        height: 64px; }
    .feed-match #sitter-profile .mutual-friends ul li:first-child {
      margin-left: 0; }
