.match {

  .page-header {
    text-align: left;

    h1 {
      display: flex;
      flex-direction: row;
    }

    .sitter-link {
      flex: 1;
    }

    #sitterActionBar {
      flex: 1;
      margin: 0;
      text-align: right;
    }

    a {
      color: rgb(131, 166, 237);
    }
  }

  img.sitter-profile-pic {
    width: 64px;
    height: 64px;
    margin-right: 24px;
  }

  .match-info {
    color: #000000;
    .match-score {
      font-size: 96px;
      font-weight: 400;
    }
  }
}

