#login-page {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  .page-header {
    margin-top: 156px;
    h1 {
      font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, cursive;
      color: #f86966;
      font-size: 96px;
    }

    .tagline {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #555;
      font-size: 28px;
      display: block;
      text-align: center;
      margin-top: 32px;
    }
  }

  .radio-group {
    text-align: left;
    width: 120px;
    margin: 24px auto;
  }

  .kep-login-facebook.metro {
    display: flex;
    margin: 0 auto;
    border-radius: 40px;
    background: #fff;
    color: #f86966;
    border-color: #f86966;
  }

  .kep-login-facebook.metro:hover {
    background: #f86966;
    color: #fff;
  }

  .kep-login-facebook.metro:focus {
    outline: none;
  }
}