#sitterActionBar {
  position: absolute;
  bottom: -36px;
  right: 0;
  left: 0;

  #sitter-profile-btn {
    width: 96px;
    height: 96px;
    font-size: 48px;
    margin: 0 -4px;
  }

  .action-btn {
    border-radius: 50%;
    border: 4px solid #f5f5f5;
    background: #fff;
    width: 64px;
    height: 64px;
    font-size: 28px;
  }

  .action-btn:focus {
    outline: none;
  }

  .icon-heart {
    color: #f86966;
    font-size: 32px;
  }

  .icon-user {
    color: #4dd0e1;
  }

  .icon-envelope {
    color: #ffca00;
  }

  .icon-heart:before, .icon-envelope:before, .icon-user:before {
    line-height: normal;
  }

  .icon-heart:before, .icon-envelope:before {
    vertical-align: middle;
  }

  #send-invite-btn:hover, #send-invite-btn:active {
  border-color: #ffca00;
}

  #sitter-profile-btn:hover, #sitter-profile-btn:active {
    border-color: #4dd0e1;
  }

  #add-review-btn:hover, #add-review-btn:active {
    border-color: #f86966;
  }

  .action-btn.selected {
    border-color: #4dd0e1;
  }
  .action-btn.unselected {
    border-color: #f5f5f5;
  }

  .action-btn.disabled, .action-btn.disabled:hover {
    border-color: #f5f5f5;
    cursor: not-allowed;
    span:before {
      color: #f5f5f5;
    }
  }

}
