#sitterActionBar {
  width: 180px;
  margin: 24px auto;

  button {
    border: none;
    background: #fff;
  }

  button:focus {
    outline: none;
  }

  svg {
    height: 48px;
    width: 48px;
  }

  #mail-icon path {
    fill: #88d685;
  }

  #next-icon path {
    fill: #7ad0f8;
  }

  #like-icon path {
    fill: #e57373;
  }
}