@import "../../../../style/base.scss";

#parent-feed {

  .arrows {
    .glyphicon-menu-left, .glyphicon-menu-right {
      font-size: 72px;
      color: $white;
      position: absolute;
      top: 177px;
      bottom: 0;

    }

    .glyphicon-menu-left:hover, .glyphicon-menu-right:hover {
      cursor: pointer;
      color: $white-light;
    }

    .glyphicon-menu-left {
      left: 30px;
    }

    .glyphicon-menu-right {
      right: 30px;
    }

  }

}