.review-item {

  border-bottom: 1px solid #eee;
  padding: 16px 0;

  img.profilePic {
    width: 96px;
    height: 96px;
    margin: 0;
  }

  .review-rates{
    display:block;
  }
  .review-item {
    span{
      display:block;
    }
  }
}