#feed-page {
  .match {
    height: 360px;
    display: block;
    text-align: center;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .sitter-info {
      margin: 24px 0;
    }

    img {
      display: block;
      width: 180px;
      height: 171px;
      margin: 0 auto;
      border: 8px solid #fff;
    }
  }
  .matchScore {

  }

}