#feed-page {

  .page-header {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h3 {
    color: #555;
    text-align: left;
    margin-bottom: 64px;
    padding: 0;

  }

  label {
    color: #555;
  }

  ._loading-overlay{
    position: static !important;
  }
}