#feed-page .page-header {
  padding-bottom: 0;
  margin-bottom: 0; }

#feed-page h3 {
  color: #555;
  text-align: left;
  margin-bottom: 64px;
  padding: 0; }

#feed-page label {
  color: #555; }

#feed-page ._loading-overlay {
  position: static !important; }

#feed-page #invite {
  text-align: left; }

#feed-page #invite label {
  font-size: 18px; }

#feed-page #invite .submit-invite {
  border: 1px solid #88d685;
  color: #88d685;
  margin-top: 24px; }
