.match-info {
  display: flex;
  flex-direction: row;
  padding: 56px 0;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
  }

  h4 {
    font-family: "Open Sans", Helvetica, Arial, cursive;
    font-size: 14px;
    margin-bottom: 24px;
  }
  .recharts-default-tooltip {
    background-color: #000 !important;
  }
}

.personality, .match-images, .match-criteria {
  flex: 1;
}

.personality, .match-criteria {
  margin-top: 48px;
}

.personality h4 {
  margin-bottom: 42px;
}

.personality {

  font-size: 20px;
  letter-spacing: 1.2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 216px;
    margin-left: auto;
    margin-right: auto;
  }

  ul li {
    width: 120px;
  }

  ul li:last-child {
    margin-left: .8em;
  }

  .label-dark, .label-regular, .label-light {
    background: #f86966;
  }
}

.match-images img {
  border: 4px solid #fff;
  margin: 15px;
}

.recharts-wrapper {
  display: block;
  margin: 0 auto;
}

.recharts-text {
  fill: #fff;
}

.recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line {
  stroke: #fff;
}