@import "../../../style/colors.scss";
@import "../../../style/fonts.scss";

#single-invite {
  color: $text;

  .invite-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
  }

  .invite-info {
    flex: 1;

    .control-label {
      color: $brand;
      font-size: 14px;
    }
  }

  .invite-sitter-info {
    display: flex;
    flex-direction: row;
  }

  .sitter-name {
    padding: 0;
    margin: 24px 0;
  }

  .sitter-image {
    margin: 48px 0 0 0;
    width: 96px;
    height: 96px;
  }

  .invite-buttons-container {
    display: flex;
    flex-direction: row;
  }

  .invite-btn {
    display: block;
    border-radius: 40px;
    background: #fff;
    color: $brand;
    border-color: $brand;
    margin: 48px 15px 48px 0;
    padding: 8px 15px;
  }

  .invite-btn:hover {
    background: $brand;
    color: #fff;
  }

  .invite-btn:active {
    outline: 0;
    box-shadow: none;
    border-color: $brand;
  }

  #decline-btn {
    border-color: $primary-cold;
    color: $primary-cold;
  }

  #decline-btn:hover {
    background: $primary-cold;
    color: #fff;
  }

  #decline-btn:active {
    border-color: $primary-cold;
  }
}

.gm-style-iw {
  color: #000;
}