.modal-container {
  position: relative;
  height: 800px !important;
  width: 100%; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.modal-dialog {
  width: 800px; }

.sitter-image {
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

h4 {
  text-align: center; }

.modal-body .rc-time-picker {
  display: block; }

input[type="text"] {
  width: 200px !important; }

.input-group {
  width: 200px !important; }

.submit-invite {
  display: block;
  margin: 0 auto; }
