#settings-page{

  #settings-form{
    text-align: center;
  }

  .submit-settings {
    display: block;
    border-radius: 40px;
    background: #fff;
    color: #f86966;
    border-color: #f86966;
    margin: 48px 0;
    padding: 8px 15px;
  }

  .submit-settings:hover {
    background: #f86966;
    color: #fff;
  }

  .submit-settings:active {
    outline: 0;
    box-shadow: none;
    border-color: #f86966;
  }


  .react-toggle {
    margin-left: 15px;
  }

  .react-toggle--checked .react-toggle-track {
    background-color: #f86966;
  }

  .react-toggle--checked .react-toggle-thumb {
    border-color: #f86966;
  }

  label{
    display:flex;
  }
}