@import "../../../style/colors.scss";
@import "../../../style/fonts.scss";

#settings-page{

  #settings-form{
    text-align: center;
  }

  .submit-settings {
    display: block;
    border-radius: 40px;
    background: $white;
    color: $brand;
    border-color: $brand;
    margin: 48px 0;
    padding: 8px 15px;
  }

  .submit-settings:hover {
    background: $brand;
    color: $white;
  }

  .submit-settings:active {
    outline: 0;
    box-shadow: none;
    border-color: $brand;
  }

  .react-toggle {
    margin-left: 15px;
  }

  .react-toggle--checked .react-toggle-track {
    background-color: $brand;
  }

  .react-toggle--checked .react-toggle-thumb {
    border-color: $brand;
  }

  label{
    display:flex;
  }
}