$brand: #f86966;
$primary-warm: #ffca00;
$primary-cold: #4dd0e1;
$text: #757575;
$primary-green: #88d685;
$green-accept: #64dd17;
$white-light: #f5f5f5;

$silver-dark: #555;
$silver: silver;
$silver-light: #CCCCCC;
$white: #fff;
$white-warm: #eee;
$white-shine: #f8f8f8;
$black: #000;


