@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$openSans: "Open Sans", "Helvetica Neue", Helvetica, Arial, cursive;
$raleway: "Raleway", sans-serif;
$poiretOne: "Poiret One", "Helvetica Neue", Helvetica, Arial, cursive

