.match {
  height: 360px;
  display: block;
  text-align: center;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sitter-info {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
}

img.profilePic {
  display: block;
  width: 180px;
  height: 171px;
  margin: 0 auto;
  border: 8px solid #fff;
}

#sitter-profile {

  #info-table {
    margin: 0 0 24px 0;
    th, td {
      text-align: center;
      border-right: 1px solid #eee;
      width: 33%;
    }
    th {
      border-bottom: none;
      font-size: 24px;
    }
    tbody > tr > td {
      border-top: none;
      text-align: center;
    }

    th:last-child, td:last-child {
      border-right: none;
    }
  }

  .panel-heading, .panel-group, .panel {
    background: #fff;
    border: none;
  }

  #availability-table th, td {
    text-align: left;
  }

  #invite-button, #review-button{
    background: #fff;
    color: #88d685;
    border: 2px solid #88d685;
    border-radius: 18px;
  }

  #invite-button:hover, #review-button:hover {
    background: #88d685;
    color: #fff;
  }

  #invite-button:focus, #review-button:focus {
    outline: none;
  }

  #invite-button:hover #mail-icon path, #review-button:hover #like-icon path{
    fill: #fff;
  }

  #mail-icon path ,#like-icon path{
    fill: #88d685;;
  }

  #invite-button svg, #review-button svg{
    width: 20px;
  }
}

