#main {
  width: 100%;
  height: 100%;
}

.page {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.popover-content table{
  color: #757575;

  .bg-primary {
    background-color: #f86966;
  }
}

