@import "../../../style/colors.scss";
@import "../../../style/fonts.scss";

.match {
  height: 480px;
  display: block;
  text-align: center;
  color: $white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .cover-overlay {
    height: 480px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
  }
  .sitter-info {
    display: flex;
    flex-direction: column;
    font-family: $raleway;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  img.profilePic {
    display: block;
    width: 187px;
    height: 187px;
    margin: 0 auto;
    border: 8px solid $white;
  }
}

#sitter-profile {
  
  margin-bottom: 96px;

  .match-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.25);
    transition: background-color 1000ms;
    left: 0;

    &:hover {
      background: rgba(0,0,0,0.9);
    }
  }

  .info-table {
    margin: 72px 0 24px 0;
    font-family: $openSans;

    th, td {
      text-align: center;
      border-right: 1px solid #eee;
      width: 33%;
    }
    th {
      border-bottom: none;
      font-size: 14px;
      color: $brand;
    }
    tbody > tr > td {
      border-top: none;
      text-align: center;
      font-size: 28px;
      color: $text;
      font-family: $openSans;
    }

    th:last-child, td:last-child {
      border-right: none;
    }
  }

  .panel-heading, .panel-group, .panel {
    background: $white;
    border: none;
  }

  #availability-table th, td {
    text-align: left;
  }

  #invite-button, #review-button {
    background: $white;
    color: $primary-green;
    border: 2px solid $primary-green;
    border-radius: 18px;
  }

  #review-button {
    color: $brand;
    border-color: $brand;
  }

  #invite-button:hover, #review-button:hover {
    background: $primary-green;
    color: $white;
  }

  #review-button:hover {
    background: $brand;
  }

  #invite-button:focus, #review-button:focus {
    outline: none;
  }

  #invite-button:hover #mail-icon path, #review-button:hover #like-icon path {
    fill: $white;
  }

  #mail-icon path {
    fill: $primary-green;
  }
  #like-icon path {
    fill: $brand;
  }

  #invite-button svg, #review-button svg {
    width: 20px;
  }

  .sitter-details {
    margin-left: 96px;
    margin-top: 24px;
  }

  .last-invited {
    margin-left: 15px;
    margin-bottom: 48px;
    font-size: 16px;
    color: $text;
  }

  #review-button, #invite-button {
    display: flex;
    height: 32px;
    margin-right: 24px;
  }

  .profile-buttons {
    display: flex;
    flex-direction: row;
  }

  .panel-title {
    color: $brand;
    font-family: $openSans;
    font-size: 14px;
    font-weight: bold;
  }

  .panel-title a:before {
    content:'\25bc';
    margin-right: 15px;
    font-size: 14px;
  }

  .panel-title a.collapsed:before {
    content:'\25BA';
    margin-right: 15px;
    font-size: 14px;
  }

  .panel-title a:hover {
    text-decoration: none;
  }

  .panel-title:hover {
    cursor: pointer;
  }
}

