.radio-option {

  text-align: left;

  input[type=radio] {
    display: none;
  }

  span:before {
    color: #f86966;
    font-size: 18px;
    margin-right: 8px;
    vertical-align: middle;
  }

  label {
    vertical-align: middle;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, cursive;
  }

}
