@import "../../../../style/base.scss";

.radio-option {

  text-align: left;

  input[type=radio] {
    display: none;
  }

  span:before {
    color: $brand;
    font-size: 18px;
    margin-right: 8px;
    vertical-align: middle;
  }

  label {
    vertical-align: middle;
    font-family: $openSans;
  }

}
