@import "../../../../style/base.scss";

.invite-item {
  background: $white-shine;
  margin-bottom: 4px;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;

  img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }

  .invite-info, .invite-status {
    flex: 1;
  }

  .invite-info {
    display: flex;
    flex-direction: row;
  }

  .invite-status {
    text-align: right;
  }
}