nav#main-nav {

  background: #fff;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(41,85,115,.21);
  margin-bottom: 0;

  .container {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }

  .navbar-brand {
    float: right;
    cursor: pointer;
    color: #f86966;
    font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, cursive;
    font-weight: bold;
    font-size: 28px;
  }

  .navbar-nav {
    float: right;
  }

  .navbar-nav>li>a {
    padding-bottom: 0;
    font-size: 16px;
  }

  img {
    width: 36px;
    height: 36px;
    margin-top: 8px;
  }

  path {
    fill: #555;
  }

  .badge {
    background-color: #f86966;
    border-radius: 50%;
  }


  .dropdown-menu {
    svg {
      margin-right: 8px;

    }
  }
}

