#register-form, .sitter-form {

  color: #555;

  .rc-slider-track {
    background-color: #e9e9e9;
  }

  li > a {
    color: #f86966;
  }

  input {
    margin: 8px 0;
  }

  h4 {
    margin: 24px 0;
    font-size: 28px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
  }

  .answer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 24px 0;

    label {
      width: 200px;
    }

    .right-label {
      text-align: right;
    }

  }
  .rc-slider-dot {
    border-color: #96dbfa;
  }

  .submit {
    margin-bottom: 96px;
    text-align: center;
  }

  .next-btn {
    display: block;
    border-radius: 40px;
    background: #fff;
    color: #f86966;
    border-color: #f86966;
    margin: 48px 0;
    padding: 8px 15px;
  }

  .next-btn:hover {
    background: #f86966;
    color: #fff;
  }

  .next-btn:active {
    outline: 0;
    box-shadow: none;
    border-color: #f86966;
  }

  .things_to_drag div {
    margin-right: 8px !important;
  }

  .presentation a:active, a:hover, a:focus {
    background-color: #f86966;
    color: #fff;
  }
  li.active-register-nav {
    background-color: #f86966;
    border-right: 1px solid #fff;
    a {
      color: #fff;
    }
  }
}
